body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url(./resources/pngtree-an-old-bookcase-in-a-library-image_2642908.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(2px);
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}
.header h1{
    color: white;
    flex: 1;
    margin: 0;
    text-align: center;
}
button{
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: rgb(177, 115, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}